@{
    ViewData["Title"] = "Home Page";
}

<div class="main-div container-fluid mb-0">

    <div class="btn-index-container">

        <div class="btn-index">
            <a class="btn btn-primary" asp-controller="Receituario"
                asp-action="Prescription"> <span
                    class="material-symbols-outlined"> medical_information
                </span> Apenas Receituário </a>
        </div>

        <div class="btn-index ml-5">
            <a class="btn btn-primary" asp-controller="AtestadoMedico"
                asp-action="ATMPrescription"> <span
                    class="material-symbols-outlined"> personal_injury </span>
                Receituário + Atestado Médico </a>
        </div>

        <div class="btn-index mt-3 mb-5">
            <a class="btn btn-primary" asp-controller="AtestadoComparecimento"
                asp-action="ATCPrescription"> <span
                    class="material-symbols-outlined"> clinical_notes </span>
                Receituário + Atestado de comparecimento </a>
        </div>

    </div>

</div>