.show-atm {
    width: 800px;
    margin-bottom: 1.9%;
    position: relative;
    box-shadow: 8px 10px 8px rgba(0 0 0 / 80%);
    background-color: #fff;
    margin-top: 2%;
    border: 1px solid #007bff;
    border-radius: 1%;
}

.show-body-atm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.atm-title {
    width: 85%;
    border: 2px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    margin-top: 2%;
}

.atm-title h1 {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 1.5%;
}

.table-medicament-atm {
    padding: 0%;
    height: 5em;
    margin-bottom: 0%;
}


.table-medicament-atm tr>th:nth-child(2) {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.table-medicament-atm tr>th:first-child,
.table-medicament-atm tr>th:nth-child(3),
.table-medicament-atm tr>th:nth-child(4),
.table-medicament-atm tr>th:nth-child(5) {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.table-medicament-atm tr>td:first-child .table-medicament-atm tr>td:nth-child(3),
.table-medicament-atm tr>td:nth-child(4),
.table-medicament-atm tr>td:nth-child(5),
.table-medicament-atm tr>td:nth-child(2) {
    height: 1%;
    white-space: nowrap;
    text-align: center;
}

.prescription-data-atm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}

.p1 {
    margin-left: 35vh;
}

.atm-pacient {
    margin-top: -2%;
    margin-bottom: 2%;
    border-bottom: 2px solid #007bff;
    width: 100%;
    text-align: left;
}

.p2 {
    margin-top: 1.5%;
    margin-left: 2vh;
}

.atm-MedicUnity {
    margin-bottom: 7%;
    border-bottom: 2px solid #007bff;
    width: 45.5vh;
    text-align: center;
    margin-left: 1%;
    margin-top: -0.5%;
}

.p3 {
    margin-top: -3%;
    margin-left: 2vh;
}

.atm-RestDays {
    margin-bottom: 5vh;
    border-bottom: 2px solid #007bff;
    width: 15vh;
    text-align: center;
    margin-top: -3.5vh;
    margin-left: 1vh;
}

.p4 {
    margin-top: -3%;
    margin-left: 2vh;
}

.p5 {
    margin-top: -3%;
    margin-left: 2vh;
}

.atm-MedicUnity span {
    margin-bottom: 0%;
}

.atm-Data {
    margin-bottom: 5vh;
    border-bottom: 2px solid #007bff;
    width: 11.9vh;
    text-align: center;
    margin-top: -3.5vh;
    margin-left: 1vh;
}

.atm-Local {
    margin-bottom: 5vh;
    border-bottom: 2px solid #007bff;
    width: 50vh;
    text-align: center;
    margin-top: -3.5vh;
    margin-left: 1vh;
}

.atm-Time {
    margin-bottom: 5vh;
    border-bottom: 2px solid #007bff;
    width: 15vh;
    text-align: center;
    margin-top: -3.5vh;
    margin-left: 1vh;
}

@media (max-width: 1920px) and (min-width: 1920px) {

    .prescription-data-atm {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 5vh;
    }

    .p1 {
        margin-left: 45vh;
    }

    .atm-pacient {
        margin-top: -2%;
        margin-bottom: 2%;
        border-bottom: 2px solid #007bff;
        width: 71vh;
        text-align: left;
    }

    .p2 {
        margin-top: 0.8%;
        width: 26%;
    }

    .atm-MedicUnity {
        margin-bottom: 4%;
        border-bottom: 2px solid #007bff;
        width: 50.5vh;
        text-align: center;
        margin-left: 1%;
        margin-top: -0.5%;
    }

    .p3 {
        margin-top: 0%;
    }

    .atm-Local {
        margin-bottom: 5vh;
        border-bottom: 2px solid #007bff;
        width: 50vh;
        text-align: center;
        margin-top: -1vh;
        margin-left: 1vh;
    }

    .atm-Data {
        margin-bottom: 5vh;
        border-bottom: 2px solid #007bff;
        width: 12vh;
        text-align: center;
        margin-top: -1vh;
        margin-left: 1vh;
    }

    .p4 {
        margin-top: -3.5%;
        margin-left: 2vh;
    }

    .atm-Time {
        margin-bottom: 5vh;
        border-bottom: 2px solid #007bff;
        width: 15vh;
        text-align: center;
        margin-top: -3.5vh;
        margin-left: 1vh;
    }

    .p5 {
        margin-top: -3.5%;
        margin-left: 2vh;
    }

    .atm-RestDays {
        margin-bottom: 5vh;
        border-bottom: 2px solid #007bff;
        width: 10vh;
        text-align: center;
        margin-top: -3.5vh;
        margin-left: 1vh;
    }

}