/*Estilização da View Prescription*/

.prescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-image: url("../images/bkg-all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-top: 2%;
}

.card-header {
    background-color: #007bff;
}

.card:first-child {
    background-color: #ffffff90;
}

.prescription-form input {
    width: 50vh;
    margin-left: 8vh;
}

#dataAppoiment {
    width: 25vh;
}
  
#up-dataAppoiment {
    width: 25vh;
}

#up-dataAppoiment {
    width: 25vh;
}  

#atm-dataAppoiment {
    width: 25vh;
}

#atm-up-dataAppoiment {
    width: 25vh;
}

.prescription-card-body label {
    margin-left: 8vh;
    margin-bottom: 5px;
}

.prescription-card-body label {  
    font-weight: bold;
    font-size: 12pt;
}

.prescription-card-body input {   
    font-size: 11pt;
    color: #000000;
}

.btn-printer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.button-prescription {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.btn-printer-p span {
    margin-right: 5%;
}

.btn-printer span {
    margin-right: 6px;
}

.medic-btn:hover {
    cursor: not-allowed;
}

.edit-button {
    margin-left: 6vh;
}

.edit-button button {
    width: 20vh;
}

.header-show-prescription {
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-img img {
    width: 23vh;
    height: 13vh;
    margin: 2.5vh;
}

.show-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3vh;
}

.show-logo h1 {
    font-size: 3.2vh;
    font-weight: bold;
    color: #007bff;
    margin-top: 2%;
}

.show-logo h2 {
    font-size: 2.2vh;
    font-weight: bold;
    color: #007bff;
}

.prescription-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    width: 85%;
    padding: 1.5%;
    border: 2px solid #007bff;
    margin-bottom: 1.5%;
    border-radius: 5px;
    align-items: center;
    color: #007bff;
}

.inputs p {
    font-weight: bold;
}

.inputs span {
    margin-left: 1%;
}

.show-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
    line-height: 0.5em;
    font-size: 1.8vh;
    bottom: 0;
    padding: 0%;
}

.show-footer p {
    color: #007bff;
}

.show-footer span {
    font-weight: bold;
}

.line {
    width: 85%;
    height: 2px;
    background-color: #007bff;
}

/*Fim da estilização da View Prescription*/


/*Estilização da View CreatePrescription*/

.medicacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12vh;
}

.list-visualization tr>th:first-child,
.list-visualization tr>th:nth-child(2),
.list-visualization tr>th:nth-child(3),
.list-visualization tr>th:nth-child(4),
.list-visualization tr>th:nth-child(5),
.list-visualization tr>th:nth-child(6)  {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.list-visualization tr>td:first-child,
.list-visualization tr>td:nth-child(2),
.list-visualization tr>td:nth-child(3),
.list-visualization tr>td:nth-child(4),
.list-visualization tr>td:nth-child(5),
.list-visualization tr>td:nth-child(6) {
    height: 1%;
    white-space: nowrap;
    text-align: center;
}

/*Fim da estilização da View CreatePrescription*/

/*@media*/

@media (max-width: 768px) {
    
}