@model AtestadoComparecimento

@{
    ViewData["title"] = "Adicionar Atestado de Comparecimento";
}

<div class="col-md-12 atm mb-3">

    <form id="atc-form" class="atm-form">

        <span class="mt-3 mb-3 alerta"></span>

        <div class="card medicine-card">

            <h5 class="card-header text-center">Atestado de Comparecimento :</h5>

            <div class="card-body">

                <input id="atcId" class="form-control mb-3" value="@Model.Id" type="hidden" asp-for="Id" disabled>

                <input id="atc-receituarioId" class="form-control mb-3" type="hidden" asp-for="Id" disabled>

                <label class="text-primary" for="">Nome do Paciente: </label>
                <input type="text" id="atc-pacientName" class="form-control border-primary mb-3" asp-for="PacientName"
                required>

                <label class="text-primary" for="">Turno: </label>
                <input type="text" id="atc-turn" class="form-control border-primary mb-3" asp-for="Turno"
                    required>

                <button type="submit" title="Gerar atestado de comparecimento" class="btn btn-md btn-primary btn-printer"> <span
                class="material-symbols-outlined"> save </span> Salvar </button>

            </div>

        </div>

    </form>

</div>
