@model AtestadoComparecimento

@{
    ViewData["title"] = "Adicionar Atestado de Comparecimento";
}

<div class="col-md-12">

    <form id="atc-form" class="atm-form">

        <div class="card-body">

            <span class="mt-3 mb-3 alerta"></span>

            <input id="atcId" class="form-control mb-3" value="@Model.Id" type="hidden" asp-for="Id" disabled>
            <input id="atc-receituarioId" class="form-control mb-3" type="hidden" asp-for="Id" disabled>

            <label class="text-primary" for="">Nome do Paciente: </label>
            <input type="text" id="atc-pacientName" class="form-control medicament-inputs border-primary mb-3" asp-for="PacientName"
            required>

            <label class="text-primary" for="">Turno: </label>
            <input type="text" id="atc-turn" class="form-control medicament-inputs border-primary mb-3" asp-for="Turno"
            required>

        </div>

        <div class="modal-footer m-0 p-0">

            <button type="submit" aria-label="Gerar atestado de Comparecimento !" class="btn btn-primary att-send-button btn-printer"> <span id="att-save-icon" class="material-symbols-outlined"> save </span> </button>

        </div>

    </form>

</div>
