@model Receituario;
@using Hsf_Receitas.Models;

@{
    ViewData["title"] = "Gerar Receituário + Atestado de Comparecimento";
}

<div class="prescription container-fluid">

    <div class="card border-primary col-md-5 mb-4 p-0">

        <div class="card-header text-light">

            <h1 class="text-center">Receituário</h1>

        </div>

        <div class="card-body">

            <form id="atc-receita-form" class="prescription-form">

                <span class="mt-3 mb-3 alerta"></span>

                <div class="card text-light border-primary">

                    <h5 class="card-header font-weight-bold">Informações básicas :</h5>

                    <div class="card-body prescription-card-body">

                        <input id="atc-prescriptionId" class="form-control mb-3" type="hidden" asp-for="Id" disabled>

                        <label class="text-primary" for="atc-pacientName">Nome do Paciente: </label>
                        <input type="text" id="atc-pacientName" onkeyup="ATCShowPrescriptionPacient()" onblur="ATCShowPrescriptionPacient()" class="form-control line-inputs border-primary mt-0 mb-3" asp-for="PacientName" required>

                        <label class="text-primary" for="atc-doctorName">Nome do Médico: </label>
                        <input type="text" id="atc-doctorName" onkeyup="ATCShowPrescriptionMedic()" onblur="ATCShowPrescriptionMedic()" class="form-control line-inputs border-primary mt-0 mb-3" asp-for="DoctorName" required>

                        <label class="text-primary" for="atc-dataAppoiment">Data da consulta: </label>
                        <input type="date" id="atc-dataAppoiment" onblur="ATCShowPrescriptionData()" class="form-control line-inputs border-primary mt-0 mb-4" asp-for="DateOfMedicalAppoiment" required>

                        <div class="edit-button col-md-3">
                            <button type="submit" title="Salvar receita" class="btn btn-sm btn-primary btn-printer mt-3"> <span class="material-symbols-outlined"> save </span> Salvar</button>
                        </div>

                    </div>

                </div>

                <div class="card text-light border-primary">

                    <h5 class="card-header card-header font-weight-bold">Medicações :</h5>

                    <div class="card-body">

                        <p class="text-danger ml-3 ">Salve a receita para inserir medicamentos.</p>

                        <div class="row button-prescription">

                            <button target type="button" title="Salve a receita para adicionar medicamentos." class="btn btn-sm btn-info btn-printer medic-btn" disabled>
                                <span class="material-symbols-outlined"> syringe </span> Adicionar Medicamentos
                            </button>

                            <button title="Salve a receita para imprimir." class="btn btn-sm btn-secondary btn-printer medic-btn" disabled><span class="material-symbols-outlined mr-2"> print </span> Imprimir </button>

                        </div>

                    </div>

                </div>

                <div class="card text-light border-primary">

                    <h5 class="card-header font-weight-bold">Atestado de Comparecimento :</h5>

                    <div class="card-body">

                        <p class="text-danger ml-3">Salve a receita para inserir o atestado de comparecimento.</p>

                        <button target type="button" title="Salve a receita para adicionar um atestado médico." class="btn btn-sm btn-info btn-printer medic-btn ml-3" disabled>
                            <span class="material-symbols-outlined"> clinical_notes </span> Atestado de comparecimento
                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <div class="card border-primary col-md-5 mb-4 p-0">

        <div class="header-show-prescription mt-2 ml-2">

            <div class="header-img mt-2 mb-2">

                <img src="../images/logotipo-hospital-sao-francisco.png" alt="logotipo da vizualização do receituário comum">

            </div>

            <div class="show-logo mt-2 mb-2">

                <h1>RECEITUÁRIO</h1>
                <h2 style="text-decoration: underline 2px solid #007bff;">FUNDAÇÃO DE SAÚDE TRÊS MARIAS</h2>
                <h2>HOSPITAL SÃO FRANCISCO</h2>

            </div>

        </div>

        <div class="show-body mt-4">

            <div class="prescription-data mt-3">

                <div class="inputs">
                    <p class="m-0 p-0">NOME DO PACIENTE :</p><span class="content" id="atc-nameP"></span>
                </div>
                <div class="inputs">
                    <p class="m-0 p-0">DATA DO ATENDIMENTO :</p><span class="content" id="atc-dataA"></span>
                </div>
                <div class="inputs">
                    <p class="m-0 p-0">NOME DO MÉDICO :</p><span class="content" id="atc-nameM"></span>
                </div>

            </div>

            <div class="medicacoes p-4">
                <h3 class="text-center text-primary font-weight-bold mt-2">MEDICAMENTOS :</h3>
            </div>

        </div>

        <div class="show-footer">
            <P>BR 040 - KM 438 - BRASÍLIA / BELO HORIZONTE - TEL.: (38) 3754-1256</P>
            <p><span>PARQUE DIADORIM</span> - CEP: 39205-000 - TRÊS MARIAS - MINAS GERAIS</p>
            <div class="line"></div>
        </div>

    </div>

</div>